@import url('https://fonts.googleapis.com/css2?family=Train+One&family=Ubuntu:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.pageContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.pageContainer::-webkit-scrollbar {
  display: none;
}
